app_data/
logs/
scripts/
tests/

# Environments
.env
.env.*

# Venv
.venv/
venv/

# Python Cache
__pycache__/

# mypy
.mypy_pycache/

# pytest
.pytest_pycache/

# PyCharm
.idea/

# Git
.git/
.gitignore
