pytest~=7.2.2
aiogram~=3.0.0b6
aiohttp~=3.8.3
aiosqlite~=0.17.0
click~=8.0.3
colorama~=0.4.4
colorlog~=6.7.0
lxml~=4.9.1
beautifulsoup4~=4.11.1
python-dateutil~=2.8.2
APScheduler~=3.10.1
tzlocal~=4.3
mypy~=1.1.1
types-beautifulsoup4
types-colorama
types-python-dateutil
types-tzlocal
SQLAlchemy~=2.0.7
redis~=4.5.4
alembic~=1.10.2
asyncpg~=0.27.0