lxml==4.9.1
beautifulsoup4==4.11.1
click==8.0.3
colorama==0.4.4
colorlog==6.7.0
httpx==0.13.3
Pyrogram==2.0.57
TgCrypto==1.2.4
python-dateutil==2.8.2
SQLAlchemy==1.4.26
aiosqlite==0.17.0
httpcore~=0.9.1